<h1>Listing hosts</h1>

<br />

<%= link_to 'New Host', new_host_path, :class=>"btn btn-success" %>


<br />

<br />

<table class="table table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Phone #1</th>
    <th>Phone #2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.name %></td>
    <td><%= host.phone1 %></td>
    <td><%= host.phone2 %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>