<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category.try(:name) %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue.try(:name) %>
</p>

<p>
  <b>Host:</b>
  <%= @event.host.try(:name) %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
