<h1>Listing venues</h1>

<br />

<%= link_to 'New Venue', new_venue_path, :class=>"btn btn-success"  %>

<br />
<br />

<table class="table table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>Area</th>
    <th>City</th>
    <th>Country</th>
    <th>Addinfo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.street %></td>
    <td><%= venue.area %></td>
    <td><%= venue.city %></td>
    <td><%= venue.country %></td>
    <td><%= venue.addinfo %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>