<h4>Sidebar</h4>
<ul class="nav nav-list">
	<li>
        <%= link_to(categories_path) do %>
          Categories <span class="badge badge-info"><%= Category.all.count %></span>
        <% end %>
	</li>
	<li><%= link_to "Events", events_path %></li>
	<li><%= link_to "Venues", venues_path %></li>
	<li><%= link_to "Host", hosts_path %></li>
	<li><%= link_to "Ads", ads_path %></li>
</ul>
