<!DOCTYPE html>
<html>
<head>
  <title>HangueoApi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Hangueo App</a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= render :partial => 'layouts/sidebar' %>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
